
/* 清除浮动 */

.clearfix{
	zoom: 1;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}


/* 2 垂直水平居中 */
.center{
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 3 文本末尾添加省略号  */

/* 宽度固定 适合单行显示... */

.width{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* 宽度不固定 适合多行以及移动端显示 */
.eswidth{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}


/* fork me on Github */
.git-wrap{
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	background-color: #f3f3f3;
}
.git-inner{
	background-color: #a00;
	overflow: hidden;
	white-space: hidden;
	position: absolute;
	/* shadom */
	-webkit-box-shadow: 0 0 10px #888;
	-moz-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
	/* rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: -50px;
	top: 40px;
}
.git-inner a{
	color: #fff;
	border: 1px solid #faa;
	display: block;
	font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin:1px 0;
	padding: 10px 50px;
	text-align: center;
	text-decoration: none;
	/* shadow */
	text-shadow: 0 0 5px #444
}


/* 单复选框的效果 */






